# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtualenv
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
*.csv
!tests/data/*.csv